<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if params[:plan] == '2' %>
      <h1 class="text-center">Pro Account</h1>
      <p class="text-center">Get premium* access to the community with this membership program for just $10/month.</p>
      <h6 class="text-center">*Access contact information to make networking much easier.</h6>
    <% else %>
      <h1 class="text-center">Basic Account</h1>
      <p class="text-center">Get basic access to the community with this membership program.</p>
    <% end %>
  </div></div>
  <div class="col-md-6 col-md-offset-3 well">

    <h2>Sign up</h2>
    
    <% if params[:plan] == '2' %>
      <%= render "pro_form" %>
    <% else %>
      <%= render "basic_form" %>
    <% end %>
    
    <%= render "devise/shared/links" %>
    
  </div>
</div>