<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <h2 class="text-center">About Us</h2>
            <p>Welcome to prgrmMatters. We are a community of developers, entrepreneurs, and investors who are interested in meeting eachother and making ideas come to life.</p>
        </div>
    </div>
</div>